<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DepartamentoPessoal" value="net.tcp://192.168.200.131:8407/DepartamentoPessoal" />
    <add key="PubSubManager" value="net.tcp://192.168.15.8:8407/PubSubManager" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpPentagoService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.200.131:8407/DepartamentoPessoal" binding="netTcpBinding"
          bindingConfiguration=""
          contract="HAPPYWCF.IFuncionario"
          name="tcpPentagoService">
      </endpoint>

      <endpoint address="net.tcp://192.168.200.131:8407/PubSubManager" binding="netTcpBinding"
       bindingConfiguration=""
       contract="HAPPYWCF.IPubSubService"
       name="tcpPentagoService">
      </endpoint>

    </client>
  </system.serviceModel>
</configuration>

